* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 5px black;
}
header .header__logo {
  height: 8vmin;
  margin-top: 5vmin;
  margin-bottom: 3vmin;
}

.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #353535;
  font-size: 1em;
}
.localisation__icon {
  font-size: 1em;
  margin-right: 1em;
}
.localisation__title {
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
}

.introsite {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10vmin 0;
}
.introsite__title {
  font-weight: 600;
  max-width: 70%;
  font-size: 1.5em;
  margin-bottom: 3vmin;
}
.introsite__subtitle {
  max-width: 90%;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 7vmin;
}
.introsite__link {
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  padding: 1em 1em;
  box-shadow: 0px 5px 5px #b7b7b7;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

.guide {
  margin: 5vmin 0;
  padding: 3vmin;
}
.guide__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.guidelist {
  box-shadow: 0px 5px 5px #dddddd;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  width: 90vmin;
  height: 20vmin;
  margin: 3vmin;
  background-color: #F6F6F6;
  padding-left: 6vmin;
}
.guidelist__marker {
  font-size: 0.9em;
  position: absolute;
  left: -3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vmin;
  height: 6vmin;
  color: white;
  background: #9356DC;
  border-radius: 1000px;
}
.guidelist i {
  margin-left: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: 1.1em;
  width: 6vmin;
  height: 6vmin;
}
.guidelist__text {
  margin-left: 5vmin;
  font-size: 1em;
  font-weight: 500;
}
.guidelist--purple {
  background: #f2eafb;
}
.guidelist--purple i {
  color: #9356DC;
}

.resto {
  background: #F6F6F6;
  padding: 10vmin 4vmin;
}
.resto__title {
  margin-bottom: 4vmin;
}
.resto__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restocard {
  box-shadow: 0px 5px 5px #b7b7b7;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 4vmin;
  width: 90vmin;
  aspect-ratio: 3/2;
  background: white;
  margin: 2vmin;
}
.restocard__banner {
  min-width: 100%;
  object-fit: cover;
}
.restocard__caption {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
  padding: 4vmin;
}
.restocard__caption h2 {
  margin: 0.5vmin;
  font-size: 1.1em;
  font-weight: 600;
}
.restocard__caption h3 {
  font-size: 1.1em;
  font-weight: 300;
}
.restocard__caption i {
  font-size: 7vmin;
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 6vmin;
  height: 100%;
  display: flex;
  align-items: center;
}
.restocard__new {
  position: absolute;
  top: 4vmin;
  right: 4vmin;
  padding: 2vmin 3vmin;
  border-radius: 1vmin;
  font-weight: 500;
  font-size: 3.9vmin;
  background-color: #99E2D0;
  color: #278870;
}

footer {
  padding: 5vmin;
  color: white;
  background-color: #353535;
}
footer .footer__title {
  font-size: 1em;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 3vmin;
}
footer .footer_list {
  list-style: none;
  font-size: 1em;
}
footer .footer_list li {
  margin-bottom: 1vmin;
}
footer .footer_list li i {
  min-height: 0;
  font-size: 0.8em;
  margin-right: 0.7em;
}
footer .footer_list a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
