* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

@keyframes loading {
  0% {
    transform: translateY(3vmin);
    opacity: 0;
  }
  50% {
    transform: translateY(0.5vmin);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 3px #c4c4c4;
}

.header__returnhome {
  color: #353535;
  position: absolute;
  left: 7vmin;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 5vmin;
}
.header__logo {
  height: 8vmin;
  margin-top: 5vmin;
  margin-bottom: 3vmin;
}

footer {
  padding: 5vmin;
  color: white;
  background-color: #353535;
}
footer .footer__title {
  font-size: 1em;
  margin-bottom: 3vmin;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
footer .footer_list {
  list-style: none;
  font-size: 1em;
}
footer .footer_list li {
  margin-bottom: 1.5vmin;
}
footer .footer_list li i {
  min-height: 0;
  font-size: 0.8em;
  margin-right: 0.7em;
}
footer .footer_list a {
  color: white;
  text-decoration: none;
}

.btn-link {
  display: block;
  border: none;
  box-shadow: 0px 7px 7px #d1d1d1;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
}

.btn-fav:hover {
  cursor: pointer;
  font-weight: 900;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restocard {
  box-shadow: 0px 7px 7px #e2e2e2;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 4vmin;
  width: 90vmin;
  min-height: 0;
  aspect-ratio: 4/3;
  background: white;
}
@media screen and (min-width: 699px) {
  .restocard {
    border-radius: 2.5vmin;
    width: 50vmin;
  }
}
.restocard__banner {
  min-width: 100%;
  max-height: 75%;
  object-fit: cover;
}
.restocard__caption {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 40%;
  min-height: 25%;
  padding: 4vmin;
}
@media screen and (min-width: 699px) {
  .restocard__caption {
    padding: 2.5vmin;
  }
}
.restocard__caption h2 {
  font-size: 1.1em;
  font-weight: 600;
}
.restocard__caption h3 {
  font-size: 1.1em;
  font-weight: 300;
}
.restocard__caption i {
  font-size: 7vmin;
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 6vmin;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 699px) {
  .restocard__caption i {
    font-size: 4vmin;
    right: 4vmin;
  }
}
.restocard__new {
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  padding: 2vmin 3vmin;
  border-radius: 1vmin;
  font-weight: 500;
  font-size: 3.9vmin;
  background-color: #99E2D0;
  color: #278870;
}
@media screen and (min-width: 699px) {
  .restocard__new {
    border-radius: 0.5vmin;
    top: 2vmin;
    right: 2vmin;
    padding: 1vmin 2vmin;
    font-size: 1em;
  }
}

.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #353535;
  font-size: 1em;
}
.localisation__icon {
  font-size: 1em;
  margin-right: 1em;
}
.localisation__title {
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
}

.introsite {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10vmin 0;
}
@media screen and (min-width: 699px) {
  .introsite {
    padding: 5vmin 0;
  }
}
.introsite__title {
  font-weight: 600;
  max-width: 70%;
  font-size: 1.5em;
  margin-bottom: 3vmin;
}
.introsite__subtitle {
  max-width: 90%;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 7vmin;
}
.introsite__link {
  padding: 1em 1em;
  white-space: nowrap;
}

.guide {
  margin: 5vmin 0;
  padding: 3vmin;
}
.guide__title {
  font-size: 1.5em;
}
@media screen and (min-width: 699px) {
  .guide__title {
    margin-left: 3vmin;
  }
}
.guide__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.guidelist {
  box-shadow: 0px 7px 10px #eaeaea;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  width: 90vmin;
  height: 20vmin;
  margin: 3vmin;
  background-color: #F6F6F6;
  padding-left: 6vmin;
}
@media screen and (min-width: 699px) {
  .guidelist {
    width: 75vmin;
    height: 15vmin;
    margin: 1.5vmin;
    padding-left: 4vmin;
  }
}
.guidelist__marker {
  font-size: 0.9em;
  position: absolute;
  left: -3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vmin;
  height: 6vmin;
  color: white;
  background: #9356DC;
  border-radius: 1000px;
}
@media screen and (min-width: 699px) {
  .guidelist__marker {
    left: -2vmin;
    width: 4vmin;
    height: 4vmin;
  }
}
.guidelist i {
  margin-left: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: 1.1em;
  width: 6vmin;
  height: 6vmin;
}
@media screen and (min-width: 699px) {
  .guidelist i {
    font-size: 1.5em;
  }
}
.guidelist__text {
  margin-left: 5vmin;
  font-size: 1em;
  font-weight: 500;
}
@media screen and (min-width: 699px) {
  .guidelist__text {
    font-size: 1.2em;
  }
}
.guidelist--purple {
  background: #f2eafb;
}
.guidelist--purple i {
  color: #9356DC;
}

.resto {
  background: #F6F6F6;
  padding: 10vmin 4vmin;
}
@media screen and (min-width: 699px) {
  .resto {
    padding: 5vmin 4vmin;
  }
}
.resto__title {
  margin-bottom: 4vmin;
}
@media screen and (min-width: 699px) {
  .resto__title {
    margin-bottom: 2vmin;
  }
}
.resto__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.resto__list a {
  text-decoration: none;
  color: initial;
  margin: 2.5vmin;
}

.menu-main {
  background: #F6F6F6;
}

.heading {
  max-height: 40vh;
  overflow: hidden;
  position: relative;
}
.heading__banner {
  width: 100%;
}
.heading__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 5vmin;
  padding-top: 7vmin;
  border-radius: 15vmin 15vmin 0 0;
  background-color: #F6F6F6;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 699px) {
  .heading__title {
    padding-top: 3vmin;
    border-radius: 10vmin 10vmin 0 0;
  }
}
.heading__title i {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  margin-right: 4vmin;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu__part {
  margin: 3vmin;
}
@media screen and (min-width: 699px) {
  .menu__part {
    margin-bottom: 0;
  }
}

.part__title {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  margin: 2vmin;
}
.part__title::after {
  content: "";
  background-color: #99E2D0;
  display: block;
  width: 10vmin;
  max-width: 40px;
  height: 0.5vmin;
  min-height: 3px;
}
.part__choicelist {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 699px) {
  .part__choicelist {
    padding: 0 5vmin;
  }
}

.choiceselect {
  display: block;
  background-color: #99E2D0;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: -25%;
  transition: margin-right 1s;
}
.choiceselect i {
  transform: rotate(0deg);
  transition: transform 1s;
  font-size: 1.5em;
}

.choicelist__choice {
  animation: loading 2s ease-in-out;
  width: 100%;
  max-height: 40vmin;
  overflow: hidden;
  background-color: white;
  margin: 2vmin 0;
  border-radius: 4vmin;
  box-shadow: 0px 7px 7px #eaeaea;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 699px) {
  .choicelist__choice {
    border-radius: 2vmin;
    margin: 1vmin 0;
  }
}
.choicelist__choice:hover {
  cursor: pointer;
}
.choicelist__choice:hover .choiceselect {
  margin-right: 0;
  transition: all 1s;
}
.choicelist__choice:hover .choiceselect > i {
  transform: rotate(360deg);
  transition: transform 1s;
}

.choice {
  padding: 3vmin;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 699px) {
  .choice {
    padding: 2.5vmin;
  }
}
.choice__name {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 1vmin;
}
.choice__desc {
  font-weight: 300;
  font-size: 1em;
  white-space: nowrap;
  margin-top: 1vmin;
}
.choice__price {
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  bottom: 3vmin;
  right: 0vmin;
  background: white;
  padding: 0 6vmin 0 2vmin;
}

.order {
  display: flex;
  justify-content: center;
  padding: 7vmin 0 15vmin;
}
@media screen and (min-width: 699px) {
  .order {
    padding: 5vmin 0 10vmin;
  }
}
.order__btn {
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  padding: 1em 3em;
}

/*# sourceMappingURL=style.css.map */
