@use "sass:color";
@import "./Base/base";
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/animations";
@import "./Layout/header";
@import "./Layout/footer";
@import "./Composants/btn-link";
@import "./Composants/btn-fav";
@import "./Composants/restocard";
// MAIN STYLE
// LOCALISATION SECTION
.localisation {
    background-color: $bg-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: $bg-darkgrey;
    font-size: 1em;
    &__icon {
        font-size: 1em;
        margin-right: 1em;
    }
    &__title {
        font-size: 1em;
        font-weight: 500;
        white-space: nowrap;
    }
}
.introsite {
    background-color: $bg-lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vmin 0;
    @include desktop{
        padding: 5vmin 0;
    }
    &__title {
        font-weight: 600;
        max-width: 70%;
        font-size: 1.5em;
        margin-bottom: 3vmin;
    }
    &__subtitle {
        max-width: 90%;
        font-weight: 300;
        font-size: 1.1em;
        margin-bottom: 7vmin;
    }
    &__link {
        padding: 1em 1em;
        white-space: nowrap;
    }
}

.guide {
    margin: 5vmin 0;
    padding: 3vmin;
    &__title {
        font-size: 1.5em;
        @include desktop{
            margin-left: 3vmin;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        
    }
}
.guidelist {
    @include global-box-shadow;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    width: 90vmin;
    height: 20vmin;
    margin: 3vmin;
    background-color: $bg-lightgrey;
    padding-left: 6vmin;
    @include desktop{
        width: 75vmin;
        height: 15vmin;
        margin: 1.5vmin;
        padding-left: 4vmin;
    }
    &__marker{
        font-size: 0.9em;
        position: absolute;
        left: -3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vmin;
        height: 6vmin;
        color: white;
        background: $primary-color;
        border-radius: 1000px;
        @include desktop{
            left: -2vmin;
            width: 4vmin;
            height: 4vmin;
        }
    }
    i {
        margin-left: 3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #808080;
        font-size: 1.1em;
        width: 6vmin;
        height: 6vmin;
        @include desktop{
            font-size: 1.5em;
        }
    }
    &__text {
        margin-left: 5vmin;
        font-size: 1em;
        font-weight: 500;
        @include desktop{
            font-size: 1.2em;
        }
    }
    &--purple {
        background: lighten($primary-color, 35);
        i {
            color: $primary-color;
        }
    }
}
.resto {
    background: $bg-lightgrey;
    padding: 10vmin 4vmin;
    @include desktop{
        padding: 5vmin 4vmin;
    }
    &__title {
        margin-bottom: 4vmin;
        @include desktop{
            margin-bottom: 2vmin;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            color: initial;
            margin: 2vmin;
        }
    }
}


// MENU PAGE STYLE
.menu-main {
    background: $bg-lightgrey;
}
.heading {
    max-height: 40vh;
    overflow: hidden;
    position: relative;
    &__banner {
        width: 100%;
    }
    &__title{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 5vmin;
        padding-top: 7vmin;
        border-radius: 15vmin 15vmin 0 0;
        background-color: $bg-lightgrey;
        @include font-Shrikhand;
        font-size: 1.1em;
        display: flex;
        justify-content: space-between;
        @include desktop {
            padding-top: 3vmin;
            border-radius: 10vmin 10vmin 0 0;
        }
        i {
            display: flex;
            align-items: center;
            font-size: 1.4em;
            margin-right: 4vmin;
        }
    }
}
.menu {
    display: flex;
    flex-direction: column;
    &__part {
        margin: 3vmin;
        @include desktop{
            margin-bottom: 0;
        }
    }
}
.part {
    &__title {
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
        margin: 2vmin;
        &::after {
            content: "";
            background-color: $terciary-color;
            display: block;
            width: 10vmin;
            max-width: 40px;
            height: 0.5vmin;
            min-height: 3px;
        }
    }
    &__choicelist {
        display: flex;
        flex-direction: column;
        @include desktop{
            padding: 0 5vmin;
        }
    }
}
.choiceselect {
    display: block;
    background-color: $terciary-color;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: -25%;
    transition: margin-right 1s;
    i{
        transform: rotate(0deg);
        transition: transform 1s;
        font-size: 1.5em;
    }
}

.choicelist {
    &__choice {
        animation: loading 2s ease-in-out;
        width: 100%;
        max-height: 40vmin;
        overflow: hidden;
        background-color: white;
        margin: 2vmin 0;
        border-radius: 4vmin;
        @include global-box-shadow;
        display: flex;
        flex-direction: row;
        @include desktop{
            border-radius: 2vmin;
            margin: 1vmin 0;
        }
        &:hover {
            cursor: pointer;
            .choiceselect {
                margin-right: 0;
                transition: all 1s;
                & > i {
                    transform: rotate(360deg);
                    transition: transform 1s;
                }
            }
        }
    }
}
.choice {
    padding: 3vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include desktop{
        padding: 2.5vmin;
    }
    &__name {
        font-weight: 500;
        font-size: 1.1em;
        margin-bottom: 1vmin;
    }
    &__desc {
        font-weight: 300;
        font-size: 1em;
        white-space: nowrap;
        margin-top: 1vmin;
    }
    &__price {
        font-size: 1em;
        font-weight: 500;
        position: absolute;
        bottom: 3vmin;
        right: 0vmin;
        background: white;
        padding: 0 6vmin 0 2vmin;
    }
}

.order {
    display: flex;
    justify-content: center;
    padding: 7vmin 0 15vmin;
    @include desktop{
        padding: 5vmin 0 10vmin;
    }
    &__btn {
        cursor: pointer;
        font-size: 1em;
        font-weight: 400;
        padding: 1em 3em;
    }
}