* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

// HEADER STYLE

header {
    display: flex;
    justify-content: center;
    box-shadow:  0 5px 5px black;
    .header__logo {
        height: 8vmin;
        margin-top: 5vmin;
        margin-bottom: 3vmin;
    }
}
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$terciary-color : #99E2D0;

$bg-grey : #EAEAEA;
$bg-lightgrey : #F6F6F6;
$bg-darkgrey : #353535;
// MAIN STYLE
// LOCALISATION SECTION
.localisation {
    background-color: $bg-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: $bg-darkgrey;
    font-size: 1em;
    &__icon {
        font-size: 1em;
        margin-right: 1em;
    }
    &__title {
        font-size: 1em;
        font-weight: 500;
    }
}
.introsite {
    background-color: $bg-lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vmin 0;
    &__title {
        font-weight: 600;
        max-width: 70%;
        font-size: 1.5em;
        margin-bottom: 3vmin;
    }
    &__subtitle {
        max-width: 90%;
        font-weight: 300;
        font-size: 1.1em;
        margin-bottom: 7vmin;
    }
    &__link {
        background: linear-gradient(175deg,$secondary-color,$primary-color);
        padding: 1em 1em;
        box-shadow: 0px 5px 5px darken($bg-grey,20);
        border-radius: 1000px;
        font-weight: 400;
        font-size: 1em;
        a{
            text-decoration: none;
            color: white;
        }
    }
}


// FOOTER STYLE
footer {
    padding: 5vmin;
    color: white;
    background-color: $bg-darkgrey;
    .footer__title {
        font-size: 1em;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        margin-bottom: 3vmin;
    }
    .footer_list {
        list-style: none;
        font-size: 1em;
        li {
            margin-bottom: 1vmin;
            i {
                min-height: 0;
                font-size: 0.8em;
                margin-right: 0.7em;
            }
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}