* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

// HEADER STYLE

header {
    display: flex;
    justify-content: center;
    box-shadow:  0 5px 5px lightgray;
    .header__logo {
        height: 8vmin;
        margin-top: 5vmin;
        margin-bottom: 3vmin;
    }
}
footer {
    padding: 5vmin;
    color: white;
    background-color: #353535;
    .footer__title {
        font-size: 1em;
        font-family: 'Shrikhand',sans-serif;
        font-weight: 400;
        margin-bottom: 3vmin;
    }
    .footer_list {
        list-style: none;
        font-size: 1em;
        li {
            margin-bottom: 1vmin;
            i {
                min-height: 0;
                font-size: 0.8em;
                margin-right: 0.7em;
            }
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}