@use "sass:color";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

// HEADER STYLE

header {
    display: flex;
    justify-content: center;
    box-shadow:  0 5px 5px black;
    .header__logo {
        height: 8vmin;
        margin-top: 5vmin;
        margin-bottom: 3vmin;
    }
}

$primary-color : #9356DC;
$secondary-color : #FF79DA;
$terciary-color : #99E2D0;

$bg-grey : #EAEAEA;
$bg-lightgrey : #F6F6F6;
$bg-darkgrey : #353535;
// MAIN STYLE
// LOCALISATION SECTION
.localisation {
    background-color: $bg-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: $bg-darkgrey;
    font-size: 1em;
    &__icon {
        font-size: 1em;
        margin-right: 1em;
    }
    &__title {
        font-size: 1em;
        font-weight: 500;
        white-space: nowrap;
    }
}
.introsite {
    background-color: $bg-lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vmin 0;
    &__title {
        font-weight: 600;
        max-width: 70%;
        font-size: 1.5em;
        margin-bottom: 3vmin;
    }
    &__subtitle {
        max-width: 90%;
        font-weight: 300;
        font-size: 1.1em;
        margin-bottom: 7vmin;
    }
    &__link {
        background: linear-gradient(175deg,$secondary-color,$primary-color);
        padding: 1em 1em;
        box-shadow: 0px 5px 5px darken($bg-grey,20);
        border-radius: 1000px;
        font-weight: 400;
        font-size: 1em;
        text-decoration: none;
        white-space: nowrap;
        color: white;
    }
}
.guide {
    margin: 5vmin 0;
    padding: 3vmin;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        
    }
}
.guidelist {
    box-shadow: 0px 5px 5px darken($bg-grey,5);
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
    width: 90vmin;
    height: 20vmin;
    margin: 3vmin;
    background-color: $bg-lightgrey;
    padding-left: 6vmin;
    &__marker{
        font-size: 0.9em;
        position: absolute;
        left: -3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vmin;
        height: 6vmin;
        color: white;
        background: $primary-color;
        border-radius: 1000px;
    }
    i {
        margin-left: 3vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #808080;
        font-size: 1.1em;
        width: 6vmin;
        height: 6vmin;
    }
    &__text {
        margin-left: 5vmin;
        font-size: 1em;
        font-weight: 500;
    }
    &--purple {
        background: lighten($primary-color, 35);
        i {
            color: $primary-color;
        }
    }
}
.resto {
    background: $bg-lightgrey;
    padding: 10vmin 4vmin;
    &__title {
        margin-bottom: 4vmin;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.restocard {
    box-shadow: 0px 5px 5px darken($bg-grey,20);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 4vmin;
    width: 90vmin;
    aspect-ratio: 3/2;
    background: white;
    margin: 2vmin;
    &__banner {
        min-width: 100%;
        object-fit: cover;
    }
    &__caption {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 40%;
        padding: 4vmin;
        h2 {
            margin: 0.5vmin;
            font-size: 1.1em;
            font-weight: 600;
        }
        h3 {
            font-size: 1.1em;
            font-weight: 300;
        }
        i {
            font-size: 7vmin;
            font-weight: 300;
            position: absolute;
            top: 0;
            right: 6vmin;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &__new {
        position: absolute;
        top: 4vmin;
        right: 4vmin;
        padding: 2vmin 3vmin;
        border-radius: 1vmin;
        font-weight: 500;
        font-size: 3.9vmin;
        background-color: $terciary-color;
        color: color.adjust($terciary-color, $lightness : -40);
    }
}


// FOOTER STYLE
footer {
    padding: 5vmin;
    color: white;
    background-color: $bg-darkgrey;
    .footer__title {
        font-size: 1em;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        margin-bottom: 3vmin;
    }
    .footer_list {
        list-style: none;
        font-size: 1em;
        li {
            margin-bottom: 1vmin;
            i {
                min-height: 0;
                font-size: 0.8em;
                margin-right: 0.7em;
            }
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}