.btn-fav {
    &:hover {
        cursor: pointer;
        font-weight: 900;
        @include bg-gradiant;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}