.btn-fav {
    &:hover {
        cursor: pointer;
        font-weight: 900;
        @include bg-gradiant;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fav-active 500ms;
    }
}
@keyframes fav-active {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}