@import "../Utils/mixins";
.btn-link {
    display: block;
    border: none;
    @include global-box-shadow(10);
    border-radius: 1000px;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: white;
    @include bg-gradiant;
    &:hover {
        @include bg-gradiant(4%);
        @include global-box-shadow(25);
    }
}