@import "../Utils/mixins";
.btn-link {
    display: block;
    border: none;
    @include global-box-shadow(5);
    border-radius: 1000px;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    color: white;
    @include bg-gradiant;
}