@keyframes loading {
    0% {
        transform: translateY(3vmin);
        opacity: 0;
    }
    50% {
        transform: translateY(0.5vmin);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(-0);
    }
}
@keyframes load-spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(720deg);
    }
}