@use "sass:color";
@mixin font-Shrikhand {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

@mixin bg-gradiant($adjust-lightness: 0%) {
    background: linear-gradient(175deg,color.adjust($secondary-color, $lightness: $adjust-lightness),color.adjust($primary-color, $lightness: $adjust-lightness));
}

@mixin global-box-shadow($darkness: 0, $size-x: 0px, $size-y: 7px, $blur: 7px) {
    box-shadow: $size-x $size-y $blur darken($bg-grey, $darkness);
}

@mixin desktop {
    @media screen and (min-width: 699px) {
        @content;
    }
}