@mixin font-Shrikhand {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

@mixin bg-gradiant {
    background: linear-gradient(175deg,$secondary-color,$primary-color);
}

@mixin global-box-shadow($darkness: 0, $size-x: 0px, $size-y: 7px, $blur: 7px) {
    box-shadow: $size-x $size-y $blur darken($bg-grey, $darkness);
}

@mixin desktop {
    @media screen and (min-width: 699px) {
        @content;
    }
}