@mixin font-Shrikhand {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

@mixin bg-gradiant {
    background: linear-gradient(175deg,$secondary-color,$primary-color);
}

@mixin global-box-shadow($darkness:0) {
    box-shadow: 0px 7px 7px darken($bg-grey, $darkness);
}